@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap');

h1,h2{
    font-family: 'Heebo', sans-serif;
    margin-top:10px;
}
a{
    color: #000;
}
h3{
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: lighter;
}
h1, h3, h2, footer, p{
    text-align: center;
}
h2{
    color: #FF0000;
    background-color: #FFFF00;
}
footer{
    font-size: small;
}
.main{
    padding: 10px;
    background-color: #00bcf2;
    border-color: #f03a17;
    border-width: 3px;
    border-style: solid;
    font-family: 'Heebo', sans-serif;
}
input{
    align-content: center;
    text-align: center;
    font-family: 'Heebo', sans-serif;
}

.container p{
    color: #FFF;
}
.sleep-now-btn{
    margin-bottom: 10px;
}
.time-result{
    font-weight: 500;
    text-decoration: underline;
}